
	<h1 id="title"> Timer test </h1>
	</br>
	<p id="clock"> 00:00 </p>
	<p id="timer">
		<button id="timerButton" type="button" class="round" onclick=start()> Start Timer </button>
		<button id="resetButton" type="button" class="round" onclick=reset()> Reset Timer </button>
	</p>
